In [57]:
import pandas as pd
import numpy as np
from datetime import datetime

import sys
sys.path.append(".")  # ensures notebook can see local modules
import functions as dm

In [58]:
df = pd.read_csv('companies.csv', keep_default_na=False)
df

,company,website,total_citations,research_reports,lab_reports,field_reports,testimonials,news_articles,sentiment
0,A&P Inphatec LLC,,,,,,,,
1,Acadian Plant Health (a division of Acadian Se...,,,,,,,,
2,Aceto Life Sciences L.L.C. d/b/a Actylis,,,,,,,,
3,Actagro LLC,,,,,,,,
4,Actylis,,,,,,,,
...,...,...,...,...,...,...,...,...,...
224,WinField United,,,,,,,,
225,Winfield United Canada,,,,,,,,
226,Wynca USA,,,,,,,,
227,Xgenex Labs LLC.,,,,,,,,
228,Yara International ASA,,,,,,,,

In [59]:
df.shape

(229, 9)

In [60]:
df.describe()

,company,website,total_citations,research_reports,lab_reports,field_reports,testimonials,news_articles,sentiment
count,229,229,229,229,229,229,229,229,229
unique,229,1,1,1,1,1,1,1,1
top,A&P Inphatec LLC,,,,,,,,
freq,1,229,229,229,229,229,229,229,229

In [61]:
df.isna().sum()

company             0
website             0
total_citations     0
research_reports    0
lab_reports         0
field_reports       0
testimonials        0
news_articles       0
sentiment           0
dtype: int64

In [64]:
manual_entry = df.sample(n=10)
manual_entry

,company,website,total_citations,research_reports,lab_reports,field_reports,testimonials,news_articles,sentiment
96,Imerys Filtration Minerals Inc.,,,,,,,,
80,FMC Professional Solutions,,,,,,,,
48,BioWorks Canada,,,,,,,,
121,Lucent Bioscience,,,,,,,,
50,Blacksmith BioScience,,,,,,,,
225,Winfield United Canada,,,,,,,,
196,Target Specialty Products Inc.,,,,,,,,
152,Orbem,,,,,,,,
189,Summit Agro USA LLC,,,,,,,,
142,Nufarm Americas Inc.,,,,,,,,