In [45]:
import pandas as pd
import numpy as np
from datetime import datetime

import sys
sys.path.append(".")  # ensures notebook can see local modules
import functions as dm

In [46]:
df = pd.read_csv('data.csv')
df

,company,website,total_citations,research_reports,lab_reports,field_reports,testimonials,news_articles,news_sentiment
0,AcmeCorp,www.acmecorp.com,45,12,15,10,8,7,favorable
1,TechSolutions Inc,www.techsolutions.com,32,8,10,9,5,4,unfavorable
2,InnovateLabs,www.innovatelabs.io,58,20,18,12,8,6,favorable
3,GlobalTech,www.globaltech.com,28,5,8,10,5,3,favorable
4,DataDynamics,www.datadynamics.net,41,11,12,10,8,5,unfavorable

In [47]:
df.shape

(5, 9)

In [48]:
df.describe()

,total_citations,research_reports,lab_reports,field_reports,testimonials,news_articles
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,40.800000,11.200000,12.600000,10.200000,6.800000,5.000000
std,11.777096,5.630275,3.974921,1.095445,1.643168,1.581139
min,28.000000,5.000000,8.000000,9.000000,5.000000,3.000000
25%,32.000000,8.000000,10.000000,10.000000,5.000000,4.000000
50%,41.000000,11.000000,12.000000,10.000000,8.000000,5.000000
75%,45.000000,12.000000,15.000000,10.000000,8.000000,6.000000
max,58.000000,20.000000,18.000000,12.000000,8.000000,7.000000

In [49]:
df.isna().sum()

company             0
website             0
total_citations     0
research_reports    0
lab_reports         0
field_reports       0
testimonials        0
news_articles       0
news_sentiment      0
dtype: int64

In [50]:
save_data()

âœ“ Data saved to data.csv
  Total rows: 5
  Timestamp: 2025-11-25 13:12:29