In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

import sys
sys.path.append(".")  # ensures notebook can see local modules
import functions as dm

In [3]:
df = pd.read_csv('data.csv')
df

,Company,Website,Research Reports,Lab reports,Field reports,Testimonials,News articles,Total Reports,sentiment
0,Imerys Filtration Minerals Inc.,https://www.imerys.com/,32,11,14,6,11,74,Neutral
1,FMC Professional Solutions,https://www.fmc.com/en,16,5,10,5,10,46,Neutral
2,BioWorks Canada,https://bioworksinc.com/,19,6,11,6,13,55,Neutral
3,Lucent Bioscience,https://lucentbiosciences.com/,8,2,15,4,14,43,Neutral
4,Blacksmith BioScience,https://blacksmithbio.com/,11,10,9,5,5,40,Neutral
5,Winfield United Canada,https://www.winfieldunited.ca/en,14,6,16,13,12,61,Neutral
6,Target Specialty Products Inc.,https://www.target-specialty.com/,8,6,7,5,14,40,Neutral
7,Orbem,https://orbem.ai/,35,12,18,14,42,121,Neutral
8,Summit Agro USA LLC,https://www.summitagro-usa.com/,11,4,12,6,12,45,Neutral
9,Nufarm Americas Inc.,https://nufarm.com/us/,39,4,13,2,22,80,Neutral
10,Huma Gro,https://humagro.com/case-studies/,24,11,42,14,22,113,Neutral

In [59]:
df.shape

(229, 9)

In [60]:
df.describe()

,company,website,total_citations,research_reports,lab_reports,field_reports,testimonials,news_articles,sentiment
count,229,229,229,229,229,229,229,229,229
unique,229,1,1,1,1,1,1,1,1
top,A&P Inphatec LLC,,,,,,,,
freq,1,229,229,229,229,229,229,229,229

In [61]:
df.isna().sum()

company             0
website             0
total_citations     0
research_reports    0
lab_reports         0
field_reports       0
testimonials        0
news_articles       0
sentiment           0
dtype: int64

In [64]:
manual_entry = df.sample(n=10)
manual_entry

,company,website,total_citations,research_reports,lab_reports,field_reports,testimonials,news_articles,sentiment
96,Imerys Filtration Minerals Inc.,,,,,,,,
80,FMC Professional Solutions,,,,,,,,
48,BioWorks Canada,,,,,,,,
121,Lucent Bioscience,,,,,,,,
50,Blacksmith BioScience,,,,,,,,
225,Winfield United Canada,,,,,,,,
196,Target Specialty Products Inc.,,,,,,,,
152,Orbem,,,,,,,,
189,Summit Agro USA LLC,,,,,,,,
142,Nufarm Americas Inc.,,,,,,,,